@charset "utf-8";
.account{
  nav{
    
  }
  form{
    width:500px;
    margin:0 auto;
    display: block;
    button{
      width:100%;
      display: block;
      background-color: #f2f2f2;
    }
  }
}