.header-nav{
  width:1100px;
  margin:0 auto;
  .user-info{
    display: inline-block;
    .avatar-small{
      width:40px;
      height:40px;
      display: inline-block;
      margin-top:5px;
    }
  }
}
