.navbar-default{
  background-color: RGB(142, 210, 197);
  width:100%;
  .navbar-brand{
    span:first-child{
      color:#fff;
      font-weight: bold;
    }
    span:last-child{
      color:#000;
      font-weight: bold;
    }
  }
}
h1{
  //text-align: center;
}

@import "account";
@import "index";
@import "header";

@mixin xxx($color:#fc4d30){
  width:1000px;
  margin:20px;
  background-color:$color;
}


#box{
  @include xxx;
}
#box2{
  @include xxx($color:#000)
}