<% include ../layout/header.ejs %>

<body>
<% include ../layout/nav.ejs %>
<div>

    <form id='form'>
        <input type="text" name = 'title'  id="title">
        <input type="text" name = 'url'  id="url">
        <input type="submit" name="submit" value="Post" id="sub">
    </form>
    <div id="show-title"></div>
</div>
<div class="footer">
</div>

</body>

<% include ../layout/footer.ejs %>