<% include ../layout/header.ejs %>

<body class="index">
<% include ../layout/nav.ejs %>
<div style="margin-left:200px;">

    <div id="airticle"></div>

    <form>
        <input accept="image/*" type="file">
        <input type="text" id="name" name="name" maxlength="10"/>
        <input type="text" id="sex" name="sex" maxlength="10"/>
        <input type="text" id="age" name="age" maxlength="10"/>
        <input type="submit" name="submit" value="post">
    </form>

</div>
</body>

<% include ../layout/footer.ejs %>
<script>
    $(function () {
        $('#myModal').modal({
                    show: false
                }
        )});


    $.ajax({
        type:'POST',
        url:'/jsontest',
        data:'givemesomedata',
        dataType:'json',
        success:function(data, status){
            console.log(status);
            var so = JSON.parse(data);
            so.map(function(item){
                $('<p>'+ item.name + '<p>').appendTo($('#airticle'));
            })
        }
    })


    $('form').on('submit',function(){
        $.ajax({
            url:'/submitjson',
            type:'POST',
            data:{
                name:$('#name').val(),
                sex:$('#sex').val(),
                age:$('#age').val()
            },
            dataType:'text'

        }).done(cb).done(cb2);

        return false;

        function cb(data,status){
            if (status == 'success'){
                $('#airticle p').remove();
                var datalist = JSON.parse(data);
                datalist.map(function(item){
                    $('#airticle').append($('<p>'+ item.name + '<p>'))
                });
                $('#name').val('');
                $('#sex').val('');
                $('#age').val('');
            }
        }
        function cb2(data,status){
            console.log(status);
        }
    })

</script>
<!--<script src="/javascript/index.js"></script>-->