<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span>Brain</span><span>Filter</span></a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/login">Log In</a></li>
            <li><a href="/signin">Sign In</a></li>
        </ul>
    </div>
</nav>
<h1><%=title%></h1>