<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span>Brain</span><span>Filter</span></a>
    </div>
    <div>
        <ul class="nav navbar-nav">

            <li id = "register"><a href="/register">注册</a></li>
            <% if (title == '首页'){ %>
            <li id = "log-modal-btn">
                <a data-toggle="modal" data-target="#myModal">登录</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
<h1><%=title%></h1>